/**
 * WPimg CSS File
 *
 * @author         David Voglgsang
 * @version        1.0
 * rem dimention   20px
 *
 */



/*==================================================================================
  GLOBAL
==================================================================================*/
.grid,
.swiper {
  position: relative;
  .lazy-img {
    img {
      opacity: 0;
      transition: .3s;
    }
  }
}




/*==================================================================================
  GRID
==================================================================================*/
.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  @include mobile {
    grid-gap: 2.5vw;
    grid-template-columns: repeat(2, 1fr);
  }
  article {
    width: 100%;
    height: 12rem;
    transition: .3s;
    @include mobile {
      height: calc(50vw - 3.75vw);
    }
  }
}



/*==================================================================================
  SWIPER
==================================================================================*/
.swiper {
  width: 100%;
  height: calc(12rem - 30px);
  overflow: hidden;
  @include mobile {
    height: calc(47.5vw - 30px);
  }
  &.wide {
    width: 100vw;
    max-width: none;
    margin-left: calc(calc(-100vw + 100%) / 2);
  }
  &.size-s {
    height: 175px;
    .swiper-container {
      article {
        flex-basis: 175px;
        width: 175px;
        height: 175px;
      }
    }
  }
  &.size-m {
    height: 210px;
    .swiper-container {
      article {
        flex: 0 0 375px;
        flex-basis: 375px;
        width: 375px;
        height: 210px;
        max-width: none;
      }
    }
  }
  &.size-l {
    height: 320px;
    .swiper-container {
      article {
        flex: 0 0 560px;
        flex-basis: 560px;
        width: 560px;
        height: 320px;
        max-width: none;
      }
    }
  }
  .swiper-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    article {
      scroll-snap-align: start;
      flex: 0 0 23.75vw;
      flex-basis: calc(23.75vw - .5rem);
      justify-content: center;
      align-items: center;
      max-width: calc(calc(100% / 4) - .5rem);
      height: 12rem;
      margin: 0 .75rem 0 0;
      @include mobile {
        flex: 0 0 47.5vw;
        flex-basis: calc(47.5vw - .25rem);
        height: 47.5vw;
        margin: 0 .5rem 0 0;
        max-width: 50%!important;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}



/*==================================================================================
  GRID & SWIPER ARTICLE
==================================================================================*/
.grid,
.swiper .swiper-container {
  article {
    padding-bottom: 0;
    @include mobile {
      height: calc(50vw - 3.75vw);
    }
    img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background-size: cover;
      object-fit: cover;
      &.video-mp4,
      &.video-quicktime,
      &.video-videopress,
      &.image-svg-xml,
      &.audio-mpeg {
        background-size: 40%!important;
      }
    }
  }
}


/*==================================================================================
  10.0 NAVIGATION ARROWS
==================================================================================*/
.swiper {
  &:hover {
    .arrow {
      opacity: 1;
    }
  }
  .arrow {
    background-color: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: block;
    position: absolute;
    top: calc(50% - 1.75rem);
    border: solid transparent;
    border-width: .25rem .5rem;
    background-image: url('images/popup-arrow.svg');
    background-size: contain;
    background-position: center;
    width: 2rem;
    height: 3.5rem;
    transition: .3s;
    .swiper & {
      opacity: 0;
      @include mobile {
        opacity: 1;
      }
    }
    @include mobile {
      top: calc(50% - 1.5rem);
      width: 2rem;
      height: 3rem;
    }
    &.back {
      left: 1rem;
      @include mobile {
        left: 5vw;
      }
    }
    &.next {
      transform: rotate(180deg);
      right: 1rem;
      @include mobile {
        right: 5vw;
      }
    }
    &.hidden {
      opacity: 0;
    }
  }
}
