/**
 * WPimg CSS File
 *
 * @author         David Voglgsang
 * @version        1.2.1
 * rem dimention   20px
 *
 */



/*==================================================================================
  FUNCTIONS
==================================================================================*/
@mixin mobile {
  @media (max-width: #{800px - 1px}) {
    @content;
  }
}

@keyframes loadingdots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: black;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 black;}
}



/*==================================================================================
  GLOBAL
==================================================================================*/
.grid,
.swiper {
  position: relative;
  article {
    position: relative;
    &.lazy-img {
      img {
        opacity: 0;
        transition: .3s;
      }
    }
    &.videobutton {
      &:before {
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid white;
        position: absolute;
        top: calc(calc(100% / 2) - 45px);
        left: calc(calc(100% / 2) - 15px);
        opacity: .75;
      }
    }
  }
}




/*==================================================================================
  GRID
==================================================================================*/
.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  @include mobile {
    grid-gap: 2.5vw;
    grid-template-columns: repeat(2, 1fr);
  }
  article {
    width: 100%;
    height: 7rem;
    transition: .3s;
    @include mobile {
      height: calc(50vw - 3.75vw);
    }
    &.videobutton {
      &:before {
        top: calc(calc(100% / 2) - 30px);
      }
    }
  }
}



/*==================================================================================
  SWIPER
==================================================================================*/
.swiper {
  width: 100%;
  height: calc(8rem - 30px);
  overflow: hidden;
  @include mobile {
    height: calc(47.5vw - 30px);
  }
  &.wide {
    width: 100vw;
    max-width: none;
    margin-left: calc(calc(-100vw + 100%) / 2);
  }
  &.size-s {
    height: 175px;
    .swiper-container {
      article {
        flex-basis: 175px;
        width: 175px;
        height: 175px;
      }
    }
  }
  &.size-m {
    height: 210px;
    .swiper-container {
      article {
        flex: 0 0 375px;
        flex-basis: 375px;
        width: 375px;
        height: 210px;
        max-width: none;
      }
    }
  }
  &.size-l {
    height: 320px;
    .swiper-container {
      article {
        flex: 0 0 560px;
        flex-basis: 560px;
        width: 560px;
        height: 320px;
        max-width: none;
      }
    }
  }
  .swiper-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    article {
      scroll-snap-align: start;
      flex: 0 0 23.75vw;
      flex-basis: calc(23.75vw - .5rem);
      justify-content: center;
      align-items: center;
      max-width: calc(calc(100% / 4) - .5rem);
      height: 8rem;
      margin: 0 .75rem 0 0;
      @include mobile {
        flex: 0 0 47.5vw;
        flex-basis: calc(47.5vw - .25rem);
        height: 47.5vw;
        margin: 0 .5rem 0 0;
        max-width: 50%!important;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}



/*==================================================================================
  GRID & SWIPER ARTICLE
==================================================================================*/
.grid,
.swiper .swiper-container {
  article {
    padding-bottom: 0;
    @include mobile {
      height: calc(50vw - 3.75vw);
    }
    img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background-size: cover;
      object-fit: cover;
      &.video-mp4,
      &.video-quicktime,
      &.video-videopress,
      &.image-svg-xml,
      &.audio-mpeg {
        background-size: 40%!important;
      }
    }
  }
}


/*==================================================================================
  POP UP
==================================================================================*/
.loading {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  background-image: url('images/loading-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem;
  min-width: 150px;
  padding-top: 6rem!important;
  &:after {
    content: ' .';
    animation: loadingdots 1s steps(5, end) infinite;
    height: 1rem;
    font-size: .8rem;
  }
  &:before {
    display: block;
    content: "";
    height: 1rem;
    font-size: .8rem;
    content: "wird geladen";
    html[data-lang="en"] & {
      content: "loading";
    }
    html[data-lang="fr"] & {
      content: "en cours de chargement";
    }
  }
}
.popup-noscroll {
  overflow: hidden;
}
.popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .75);
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 1199;
  opacity: 1;
  pointer-events: auto;
  user-select: none;
  transition: $transition_fast;
  @include mobile {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    overflow: scroll;
    &.closed {
      height: 0;
      overflow: hidden;
    }
  }
  &[data-content="img-popup"]{
    .popup-container {
      max-width: 1200px;
      width: fit-content;
      margin: 2rem;
      max-height: calc(100vh - 14rem);
      @include mobile {
        margin: 0;
        max-height: inherit;
        width: 100%;
      }
      .popup-content {
        padding: 0;
        background-color: transparent;
        .post-flex {
          display: flex;
          flex-wrap: nowrap;
          @include mobile {
            flex-direction: column;
          }
          .column-img {
            position: relative;
            width: calc(100% - 32rem);
            margin: 0 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mobile {
              width: 100%;
              margin: 0;
            }
            iframe,
            .wp-video {
              display: block;
              margin: auto;
            }
            .popup-arrow {
              top: calc(50% - 3rem);
              width: 3rem;
              height: 6rem;
              @include mobile {
                top: calc(50% - 1.5rem);
                width: 2rem;
                height: 3rem;
              }
              &.back {
                left: -4rem;
                @include mobile {
                  left: 5vw;
                }
              }
              &.next {
                right: -4rem;
                @include mobile {
                  right: 5vw;
                }
              }
            }
            > .pdfemb-viewer,
            > video,
            img {
              margin: auto;
              display: block;
              max-width: 100%;
              max-height: calc(100vh - 14rem);
              &.image-gif,
              &.image-svg-xml {
                min-width: 9rem;
                background-size: 40%;
                @include mobile {
                  min-height: 50vh;
                }
              }
              @include mobile {
                max-height: 100vh;
              }
            }
          }
          .column-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20rem;
            font-size: .9rem;
            @include mobile {
              margin: 2rem auto;
              html[data-touch="true"] & {
                margin: 2rem auto 8rem;
              }
            }
            div {
              h5 {
                font-size: 1rem;
                line-height: 1.2;
                padding-bottom: 3px;
                border-bottom: 1px solid $color__grey;
              }
              * + h5 {
                margin-top: 2.5rem;
              }
            }
            div + div {
              margin-top: 2.5rem;
            }
          }
        }
      }
    }
  }
  &.closed {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  .popup-container {
    position: relative;
    width: 100%;
    max-width: 40rem;
    min-width: 304px;
    margin: 2rem;
    max-height: 100%;
    @include mobile {
      margin: 0;
    }
    .popup-content {
        background-color: black;
        padding: 1.5rem .5rem;
        position: relative;
        margin: 0;
        @include mobile {
          width: 100vw;
          height: 100vh;
          overflow: scroll;
          padding: 1rem 5vw;
        }
    }
    .close {
      color: transparent;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      width: 38px;
      height: 38px;
      text-align: center;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      position: absolute;
      z-index: 231;
      right: -40px;
      top: -40px;
      background-image: url('images/icon-close.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;
      @include mobile {
        background-color: rgba(0,0,0,.4);
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        background-size: 1rem 1rem;
      }
    }
  }
}



/*==================================================================================
  NAVIGATION ARROWS
==================================================================================*/
.swiper {
  &:hover {
    .swiper-arrow {
      opacity: 1;
    }
  }
}
.swiper-arrow,
.popup-arrow {
  background-color: rgba(0, 0, 0, .4);
  cursor: pointer;
  display: block;
  position: absolute;
  top: calc(50% - 1.75rem);
  border: solid transparent;
  border-width: .25rem .5rem;
  background-image: url('images/swiper-arrow.svg');
  background-size: contain;
  background-position: center;
  width: 2rem;
  height: 3.5rem;
  transition: .3s;
  z-index: 1;
  .swiper & {
    opacity: 0;
    @include mobile {
      opacity: 1;
    }
  }
  @include mobile {
    top: calc(50% - 1.5rem);
    width: 2rem;
    height: 3rem;
  }
  &.back {
    left: 1rem;
    @include mobile {
      left: 5vw;
    }
  }
  &.next {
    transform: rotate(180deg);
    right: 1rem;
    @include mobile {
      right: 5vw;
    }
  }
  &.hidden {
    opacity: 0;
  }
}
