.galleriesImages_list {
  list-style: none;
}
.galleriesImages_list li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.galleriesImages_list .galleriesImages_container {
  position: relative;
  border: 1px solid;
  line-height: 0;
  max-width: 100px;
}
.galleriesImages_list .galleriesImages_container img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.galleriesImages_list .galleriesImages_container .remove_image {
  position: absolute;
  top: -10px;
  right: -10px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  background-color: white;
  cursor: pointer;
}
.galleriesImages_list .galleriesImages_container .remove_image svg {
  width: 10px;
  margin: 5px;
}
